<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TestApp.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TestApp.Settings1>
            <setting name="userInputtxtIniSeq" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="userInputtxtLongSeq" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="userInputtxtIniFieldFileNumber" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="userInputtxtLongFieldFileNumber" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="userInputtxtInicmp" serializeAs="String">
                <value>28</value>
            </setting>
            <setting name="userInputtxtlongcmp" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="userInputtxtIniTraceType" serializeAs="String">
                <value>43</value>
            </setting>
            <setting name="userInputtxtLongTraceType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="userInputtxtIniSourcePoint" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="userInputtxtlongSourcePoint" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="userInputtxtIniCmp1" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="userInputtxtLongCmp1" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="userInputtxtIniOffset" serializeAs="String">
                <value>81</value>
            </setting>
            <setting name="userInputtxtLongOffset" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="userInputtxtIniSourceX" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="userInputtxtLongSourceX" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="userInputtxtIniSourceY" serializeAs="String">
                <value>113</value>
            </setting>
            <setting name="userInputtxtLongSourceY" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="userInputtxtIniReceiverX" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="userInputtxtLongReceiverX" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="userInputtxtIniReceiverY" serializeAs="String">
                <value>145</value>
            </setting>
            <setting name="userInputtxtLongReceiverY" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="userInputtxtIniSourceStation" serializeAs="String">
                <value>160</value>
            </setting>
            <setting name="userInputtxtLongSourceStation" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="userInputtxtIniComponetType" serializeAs="String">
                <value>175</value>
            </setting>
            <setting name="userInputtxtLongComponetType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="userInputtxtIniMainSourceType" serializeAs="String">
                <value>187</value>
            </setting>
            <setting name="userInputtxtLongMainSourceType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="userInputtxtiniMainInstrumentType" serializeAs="String">
                <value>199</value>
            </setting>
            <setting name="userInputtxtlongMainInstrumentType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="userInputtxtIniCmpX" serializeAs="String">
                <value>207</value>
            </setting>
            <setting name="userInputtxtLongCmpX" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="userInputtxtIniCmpY" serializeAs="String">
                <value>225</value>
            </setting>
            <setting name="userInputtxtLongCmpY" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="userInputtxtIniFold" serializeAs="String">
                <value>243</value>
            </setting>
            <setting name="userInputtxtLongFold" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="userInputtxtIniCCPNorthing" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="userInputtxtLongCCPNorthing" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="userInputtxtIniCCPElevation" serializeAs="String">
                <value>271</value>
            </setting>
            <setting name="userInputtxtLongCCPElevation" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="userInputtxtIniCCPEasting" serializeAs="String">
                <value>287</value>
            </setting>
            <setting name="userInputtxtLongCCPEasting" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="userInputtxtstart" serializeAs="String">
                <value>27</value>
            </setting>
        </TestApp.Settings1>
    </userSettings>
</configuration>